@model IEnumerable<SecurityInAOMG.Models.Artist>

@{
    Layout = "~/Views/Shared/_View.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexLogin</title>
</head>
<body>
    <p>
        @Html.ActionLink("Resgister", "Resgister", "Resgister")
    </p>

    <p>
        @Html.ActionLink("Group User", "Index", "Group")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist_role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist_contact)
            </th>
            <th></th>
        </tr>

        @foreach (System.Data.DataRow dr  in ViewBag.data.Rows)
        {
            <tr>
                <td>
                 
                    @dr["Artist_Name"]
                </td>
                <td>
                
                    @dr["Artist_role"]
                </td>
                <td>
                  
                    @dr["Artist_contact"]
                </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>

        <a href="@Url.Action("Logout","Login")" class="btn btn-warning">Logout</a>
    </body>
    </html>
