@model IEnumerable<SecurityInAOMG.Models.UserAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_View.cshtml";


}

<h2>Administration</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        //@Html.DisplayFor(modelItem => item.roles)
        // var admin = new HtmlString("admin");
        if (item.roles == "admin")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roles)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId}) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>


        }


    }

</table>

<br />

<h2>User</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        //@Html.DisplayFor(modelItem => item.roles)
        // var admin = new HtmlString("admin");
        if (item.roles == "user")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roles)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>


        }


    }

</table>



