@model IEnumerable<SecurityInAOMG.Models.UserAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_View.cshtml";


}


<link rel="stylesheet" type="text/css" href="~/Content/GroupStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">



<br/>

<div>
    <form id="Group">
        <label for="cars">Nhóm: </label>
        <select name="group" id="group">
            <option value="group1">Group1</option>
            <option value="group2">Group 2</option>
            <option value="group3">Group 3</option>
            <option value="group4">Group 4</option>
        </select>

    </form>
</div>


<br/>

<div class="table1">
    <p style="color:#013DB5; font-size: 20px; font-weight: bold;">Người dùng là Admin</p>

    <table id="customers">
        <tr>
            <th>
                <input type="checkbox" name="name1" />&nbsp;
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles)
            </th>

        </tr>

        @foreach (var item in Model)
        {

            //@Html.DisplayFor(modelItem => item.roles)
            // var admin = new HtmlString("admin");
            if (item.roles == "admin")
            {
                <tr>
                    <td>
                        <input type="checkbox" name="name1" />&nbsp;
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roles)
                    </td>

                </tr>


            }


        }

    </table>
    <br />

   

</div>

<br />
<br />


<div class="table1">
    <p style="color:#013DB5; font-size: 20px; font-weight: bold;">Người dùng là User</p>

    <table id="customers">
        <tr>
            <th>
                <input type="checkbox" name="name1" />&nbsp;
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles)
            </th>

        </tr>

        @foreach (var item in Model)
        {

            //@Html.DisplayFor(modelItem => item.roles)
            // var admin = new HtmlString("admin");
            if (item.roles == "user")
            {
                <tr>
                    <td>
                        <input type="checkbox" name="name1" />&nbsp;
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roles)
                    </td>

                </tr>


            }


        }

    </table>
    <br />


</div>

<br />
<br />


<div class="table1">
    <div class="buttonStyle">
        <button type="button">Thêm </button>
        <button type="button">Xoá</button>
    </div>

    <br><br>
    <p style="color:#013DB5; font-size: 20px; font-weight: bold;">Người dùng thuộc nhóm Editor</p>
    <table id="customers">
        <tr>
            <th>
                <input type="checkbox" name="name1" />&nbsp;
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles)
            </th>

        </tr>

        @foreach (var item in Model)
        {

            //@Html.DisplayFor(modelItem => item.roles)
            // var admin = new HtmlString("admin");
            if (item.roles == "editor")
            {
                <tr>
                    <td>
                        <input type="checkbox" name="name1" />&nbsp;
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roles)
                    </td>

                </tr>


            }


        }

    </table>
    <br />


</div>



